<app-left-menu></app-left-menu>

<div class="wrapper_content">
  <nav class="submenu">
    <ul>
        <li *ngFor="let site of sites;" [ngClass]="{'active': site=='Pornhub'}"><a  href="javascript:;">{{ site }}</a></li>
    </ul>
  </nav>

  <div class="Rtable">
    <div class="Rtable-cell">Filter By Status: <button class="js-status-filter input input-no-margin">All</button></div>
    <div class="Rtable-cell">Show me only: </div>
    <div class="Rtable-cell">Order By</div>
    <div class="Rtable-cell"></div>

    <div class="Rtable-cell Rtable-cell-status">
        <div class="col">
            <button class="js-status-filter inputColor color-white input-no-margin">Open</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="col">
            <button class="js-status-filter inputColor color-yellow input-no-margin">Dev Testing</button>
            <button class="js-status-filter inputColor color-orange">Ready for QA</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="col">
            <button class="js-status-filter inputColor color-blue input-no-margin">QA Testing</button>
            <button class="js-status-filter inputColor color-red">Problematic</button>
        </div>
        <div class="col">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="col">
            <button class="js-status-filter inputColor color-green input-no-margin">To Deploy</button>
            <button class="js-status-filter inputColor color-teal">To Deploy (Remotes)</button>

        </div>
    </div>
    <div class="Rtable-cell">
        <button class="js-filter input input-hotfix noTransition" data-item="isHotfix">Hotfix <img src="assets/icons/icon-fire.png"  width="20" /></button>
        <button class="js-filter input" data-item="fe">FE Packages</button>
        <button class="js-filter input"  data-item="noQa">NoQA</button>
        <button class="js-filter input" data-item="be">BE Packages</button>

          <button class="js-filter input" data-item="developer">My Stages</button>

    </div>
    <div class="Rtable-cell">
        <button class="js-sort input" data-sort="priority">Priority</button>
        <button class="js-sort input" data-sort="updated">Last updated</button>
        <button class="js-sort input" data-sort="alphabetical">Alphabetical</button>
    </div>
    <div class="Rtable-cell Rtable-form">

        <div class="form-control">
            <label for="release-prod">FRONT:</label>
            <input type="text" id="release-prod" class="release-data" value="" />
        </div>
        <div class="form-control">
            <label for="release-upload">UPLOAD:</label>
            <input type="text" id="release-upload" class="release-data" value="" />
        </div>
        <div class="form-control">
            <label for="release-cms">CMS:</label>
            <input type="text" id="release-cms" class="release-data" value="" />
        </div>

        <div class="form-control">
            <button id="js-minimize-all" class="input input-no-margin">Collapse/Expand All</button>
        </div>
    </div>
  </div>

  <div id="sortingContent">

    <section *ngFor="let stage of stages; let i = index " class="stageBox open">

            <div class="editedByStatus"></div>
            <ul>
                <li class="title bold">Stage {{ i }} <i class="js-minimize fa fa-minus-square-o fright"></i></li>

                <li>
                    <span class="form-control">
                        <input type="checkbox" class="input-checkbox checkbox-isHotfix" id="stage{{ i }}-isHotfix" [checked]="stage.isHotfix" />
                        <label class="checkbox-label" for="stage{{ i }}-isHotfix">Hotfix</label>
                    </span>
                    <span class="form-control">
                        <input type="checkbox" class="input-checkbox checkbox-noQa" id="stage{{ i }}-noQa" [checked]="!stage.needsQa" />
                        <label class="checkbox-label" for="stage{{ i }}-noQa">NoQA</label>
                    </span>

                    <div><img src="assets/icons/flame.png" class="flameGif" [ngClass]="{'hidden': stage.isHotfix}" /></div>

                </li>
                <li>
                    <select class="js-status color-{{stage.color}}">
                        <option class="color-white">Open</option>
                        <option class="color-yellow">Dev Testing</option>
                        <option class="color-orange">Ready for QA</option>
                        <option class="color-blue">QA Testing</option>
                        <option class="color-red">Problematic</option>
                        <option class="color-green">To Deploy</option>
                        <option class="color-teal">To Deploy (R)</option>

                    </select>

                    <select class="js-priority" id="stage{{ i }}-priority">
                        <option value="9" >-</option>
                        <option value="0" >p0</option>
                        <option value="1" >p1</option>
                        <option value="2" >p2</option>
                        <option value="3" >p3</option>
                        <option value="4" >p4</option>
                        <option value="5" >p5</option>
                    </select>
                </li>

                <li>
                    <input type="text" class="fixVersions" id="stage{{ i }}-fv" placeholder="Fix Version"
                           [value]="stage.fixVersion"/>&nbsp;<a href="https://jira.mgcorp.co/projects/{{ jiraKey }}/versions/{{ stage.fixedVersionKey }}" target="_blank" id="stage{{ i }}-fv-link"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <input type="hidden" class="fvk" id="stage{{ i }}-fvk"  [value]="stage.fixedVersionKey"/>
                </li>
                <li class="hide">
                    <select id="stage{{ i }}-qa" multiple="multiple" class="js-qa">

                      <option [value]="stage.qa" selected="selected">{{ stage.qa }}</option>

                    </select>
                </li>
                <li class="hide">
                    <select id="stage{{ i }}-dev" multiple="multiple" class="js-dev">

                      <option [value]="stage.dev" selected="selected">{{ stage.dev }}</option>

                    </select>
                </li>
                <li class="hide">
                    <textarea id="stage{{ i }}-note" placeholder="Notes">{{ stage.notes }}</textarea>
                </li>

                <li class="hide actions">
                    <button id="stage{{ i }}-save" class="save input">Save</button>
                    <button id="stage{{ i }}-cancel" class="cancel input">Cancel</button>
                </li>

            </ul>

            <div class="infoBar">
                <i class="fa fa-hourglass-half" aria-hidden="true" title="Last Update"></i>&nbsp;<span id="stage{{ i }}-lastUpdate" class="lastUpdated"></span>
                <a><i class="fright fa fa-history" aria-hidden="true" title="Show History"></i></a>
            </div>

    </section>

  </div>
</div>
