<div class="wrapper_login">
  <div class="form_login">
      <form action="" method="post" id="login2" >
          <div id="message"></div>  
          <h3>Login </h3>

          <label>
              <span>Username:</span>
              <input id="username" type="text" name="username" placeholder="LDAP username" />
          </label>
          <br />
          <label>
              <span>Password:</span>
              <input id="password" type="password" name="password" />
          </label>
          <br />
          <input type="button" id="submit" class="button treeviewpage-button bold" value="Login" />
      </form>
      
  </div>

  <div class="other">
      <h4>Public pages</h4>
      <a href="/orgchart" class="block">Org Chart</a><br />
      <a href="/days-away" class="block">Vacations</a><br />
      <a href="seating" class="block">Seating Plan</a><br />
      <a href="dates" class="block">Important Dates</a><br />
      <a href="stage-reservation" class="block">Stage Reservations</a>
  </div>

</div>