<div class="wrapper_login">
  <div class="form_login">
      <form method="post" role="form" id="login2" #loginForm="ngForm" (ngSubmit)="login()">
          <div id="message"></div>  
          <h3>Login </h3>

          <label>
              <span>Username:</span>
              <input id="username" type="text" name="username" placeholder="LDAP email" [(ngModel)]="auth.email" required />
          </label>
          <br />
          <label>
              <span>Password:</span>
              <input id="password" type="password" name="password" [(ngModel)]="auth.password" required minlength="6" />
          </label>
          <br />
          <input type="submit" id="submit" class="button treeviewpage-button bold" value="Login" [disabled]="loginForm.invalid" />
      </form>
      
  </div>

  <div class="other">
      <h4>Public pages</h4>
      <a href="/orgchart" class="block">Org Chart</a><br />
      <a href="/days-away" class="block">Vacations</a><br />
      <a href="seating" class="block">Seating Plan</a><br />
      <a href="dates" class="block">Important Dates</a><br />
      <a href="stage-reservation" class="block">Stage Reservations</a>
  </div>

</div>