<nav class="main-menu">
    <ul>
        <li class="gap"></li>

        <li >
            <a href="/" class="noTransition">
                <i class="fa fa-plane"></i>
                <span class="nav-text">
                    Vacations
                </span>
            </a>
        </li>
        <li >
            <a href="/" class="noTransition">
               <i class="fa fa-sitemap"></i>
                <span class="nav-text">
                    Org Charts
                </span>
            </a>
            
        </li>
        <li >
            <a href="/" class="noTransition">
               <i class="fa fa-building-o"></i>
                <span class="nav-text">
                    Seating
                </span>
            </a>
        </li>
        <li >
           <a href="/" class="noTransition">
               <i class="fa fa-birthday-cake"></i>
                <span class="nav-text">
                    Important Dates
                </span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/stages"  class="noTransition">
                <i class="fa fa-lock"></i>
                <span class="nav-text">
                    Stage Availability
                </span>
            </a>
        </li>
    </ul>

     <ul class="logout">
        <li>
            <a routerLink="/login" class="noTransition">
                <i class="fa fa-sign-in"></i>
                <span class="nav-text">
                    Login
                </span>
            </a>
        </li>
    </ul>
</nav>